<!DOCTYPE html>
<html>
<head>
  <title>IPX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">{{range .Menu}}<div><a href="{{.Page}}">{{.Text}}</a></div>{{end}}</div>
	<div class="content">{{range $index, $content := .Pages}}<div id="page_{{$content.ID}}" class="{{if ne $index 0}}hide{{end}}">{{$content.HTML}}</div>{{end}}</div>
</body>
</html>
